# dependencies
/node_modules

# misc
.DS_Store
.env.*

# IDE
/.idea
/.vscode

# git
/git.json

# builders
/artifacts
/cache
/dist
/typechain-types
/*.tar
/*.tar.gz
/_dev
/_release
/_backup
.deps
artifacts

# db
/database
